.circle-wrap {
  width: 150px;
  height: 150px;
  background: #D9D9D9;
  border-radius: 50%;
  /* -moz-border-radius: 50px;
      -webkit-border-radius: 50px;*/
}

.circle-wrap
/*包*/
.circle .mask,
/*隱藏*/
.circle-wrap .circle .fill

/*顏色填滿圈*/
  {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: rebeccapurple;
}

.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(110deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(110deg);
  }
}

.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: white;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 1em;
}

/*第二個圈圈*/
.circle-wrap2 {
  width: 150px;
  height: 150px;
  background: #D9D9D9;
  border-radius: 50%;
}

.circle-wrap2 .circle2 .mask2,
.circle-wrap2 .circle2 .fill2 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap2 .circle2 .mask2 {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap2 .circle2 .mask2 .fill2 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: goldenrod;
}

.circle-wrap2 .circle2 .mask2.full2,
.circle-wrap2 .circle2 .fill2 {
  animation: fill2 ease-in-out 3s;
  transform: rotate(90deg);
}

@keyframes fill2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

.circle-wrap2 .inside-circle2 {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: white;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 1em;
}

/*第三個圈圈*/
.circle-wrap3 {
  width: 150px;
  height: 150px;
  background: #D9D9D9;
  border-radius: 50%;
}

.circle-wrap3 .circle3 .mask3,
.circle-wrap3 .circle3 .fill3 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap3 .circle3 .mask3 {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap3 .circle3 .mask3 .fill3 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: palevioletred;
}

.circle-wrap3 .circle3 .mask3.full3,
.circle-wrap3 .circle3 .fill3 {
  animation: fill3 ease-in-out 3s;
  transform: rotate(170deg);
}

@keyframes fill3 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(170deg);
  }
}

.circle-wrap3 .inside-circle3 {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: white;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 1em;
}

/*第四個圈圈*/
.circle-wrap4 {
  width: 150px;
  height: 150px;
  background: #D9D9D9;
  border-radius: 50%;
}

.circle-wrap4 .circle4 .mask4,
.circle-wrap4 .circle4 .fill4 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap4 .circle4 .mask4 {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap4 .circle4 .mask4 .fill4 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #00BD00;
}

.circle-wrap4 .circle4 .mask4.full4,
.circle-wrap4 .circle4 .fill4 {
  animation: fill4 ease-in-out 3s;
  transform: rotate(120deg);
}

@keyframes fill4 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(120deg);
  }
}

.circle-wrap4 .inside-circle4 {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: white;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 1em;
}

/*第五個圈圈*/
.circle-wrap5 {
  width: 150px;
  height: 150px;
  background: #D9D9D9;
  border-radius: 50%;
}

.circle-wrap5 .circle5 .mask5,
.circle-wrap5 .circle5 .fill5 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap5 .circle5 .mask5 {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap5 .circle5 .mask5 .fill5 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: fuchsia;
}

.circle-wrap5 .circle5 .mask5.full5,
.circle-wrap5 .circle5 .fill5 {
  animation: fill5 ease-in-out 5s;
  transform: rotate(135deg);
}

@keyframes fill5 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(135deg);
  }
}

.circle-wrap5 .inside-circle5 {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: white;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 1em;
}